body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Neue Helvetica W06','Helvetica Neue',sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
    color: #00000f;
    background-image: url("assets/chat.svg");
    background-repeat: no-repeat;
    background-position: bottom right;/*vasakult 1050 ülevalt 100*/
    z-index: 2147483647;
    background-attachment: fixed;
}
.container1{
    font-size: 11px;
    text-align: center;
}
ul{
    list-style-type:none;
}
.lside li a{
    color: black;
    text-decoration: none;
}
.lside li{
    text-align: left;
    position: 20px;
}

.rside li a{
  text-decoration: none;
  float: right;
}
.rside{
    left:60%;
    top: 2%;
    position: absolute;
}
.img{
    margin-left: 10px;
    padding: 25px;
    float: center;
    align-self: flex-start;
}
#login{
    background: #f4f4f4;
    border-bottom: 1px solid rgba(255,255,255,0.9);
   /* padding-left: 200px;*/
}
#login .nav-pills{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#login .nav-pills li.active a{
    padding: 1px 13px;
    font-weight: 500;
    background-color: #c2c2c5;
    border: 1px solid #c2c2c5;
    border-radius: 0;
}
#login .nav-pills li a{
   /* background-color: inherit;*/
    font-size: 12px;
    line-height: 30px;
    color: black;
    padding: 0 12px;
    font-size: 12px;
    text-decoration: none;
    display: block;
    border: none;
    border-radius: 0;   
}
#login .nav-pills li {
    display: inline-block;
    padding: 2px;
    float: none;
    border-top: 1px solid #c2c2c5;
    border-bottom: 1px solid #c2c2c5;

}
#login .nav-pills li:last-child{
    border-right: 1px solid #c2c2c5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}     
#login form button{
    color: #fff;
    background-color: #6b6666;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
}

#login form input{
    font-size: 12px;
    font-weight: 500;
    width: 180px;
    height: 36px;
    
}
#login form{
    position: relative;
}

#menu{
    padding-right: 0;
    margin-bottom: 0;
    background: #f2f2f3;
    border: none;
    border-radius: 0;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
}
#menu .navbar-nav{
    display: inline;
}
#menu .navbar-nav li{
    display: inline;
    padding-right: 20px;
    cursor: pointer;
  }
  .box{
      width: 750px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    #menu .dropdown-menu .box .menu-table{
        background-size: 100%;

    }
.dropdown-menu{
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}
  .cmenu .dropdown .dropdown-menu .box .menu-table{
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 0;
  }
  .cmenu .dropdown .dropdown-menu .box .menu-table table td h3{
    margin-top: 0;
    margin-bottom: 20px;
    color: #909097;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.cmenu .dropdown .dropdown-menu .box .menu-table table td{
    padding: 0 10px;
    vertical-align: top;
}
.cmenu .dropdown .dropdown-menu .box .menu-table table td li{
    padding-bottom: 10px;
}

.cmenu .dropdown .dropdown-menu .box .menu-table table td li a {
    text-transform: none;
    padding: 0;
    line-height: 18px;
    line-break: inherit;
    color: #00000f;
    text-decoration:none ;
    display: block;
}
.container .podcast{
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 5px;
    padding-left: 40px;
    white-space: nowrap;
    position: relative;
    line-height: 25px;

}
.container .podcast a{
    display: block;
    margin-bottom: 5px;   
}
.container .podcast:before{
    content:"";
    background-image: url("assets/play-video.svg");
    height: 24px;
    width: 24px;
    position: absolute;
    background-size: cover;
    left: 0;
    
}
a{
    text-decoration: none;
    color: black;  
}
a.readextra {
    text-decoration: none;
}
a.readextra:hover {
    text-decoration: none;
    color: #909097;
}
.spacer{
    margin-top: 80px;
}
.footer{
    position: absolute; 
    background-color: #f8f8f8;
    font-size: 12px;
    left:0;
    right:0;
}
.footer .example .rowy{
    margin-left:-35px;
}
.footer .example li a{
   text-decoration: none;
   color: black;
   font-weight: 400;
}
.footer h3{
    text-decoration: none;
    color: #909097;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
    margin-top: 50px;
 }
 .footer .social{
     margin-right: 20px;
     display: flex;
 }
.footer .app{ 
    position: absolute;
    left:65%;  
}
.footer .copyright p{ 
    margin-top: 40px;
    font-size: 11px;
    line-height: 18px;
    color:#444b57;
}
.footer .copyright a{ 
    margin-top: 40px;
    font-size: 11px;
    line-height: 18px;
    text-decoration: underline;
    color:#444b57;
}