body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Neue Helvetica W06', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
    color: #00000f;
    background-image: url("assets/chat.svg");
    background-repeat: no-repeat;
    background-position: 99% 99%;
    background-attachment: fixed;
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 21px solid #f2f2f3;
    margin-left: 82%;
    margin-top: -8px;
    margin-bottom: -7px;
}

ul {
    list-style-type: none;
}

.lside {
    font-size: 11px;
    margin-top: 8%;
    margin-left: -4%;
    margin-bottom: 1%;
    line-height: 20px;
}

.rside li a {
    margin-right: 3px;
    margin-left: 13px;
}

.rside {
    left: 67%;
    top: 4.1%;
    font-size: 11px;
    position: absolute;
    font-weight: 530;
}

.img {
    margin-left: 32%;
    margin-top: 35px;
    align-self: flex-start;
}

#login {
    background: #f4f4f4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

#login .nav {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 2px;
}

#login .nav li.active a {
    padding: 0px 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 550;
    margin-left: 7px;
    background-color: #c2c2c5;
    border: 1px solid #c2c2c5;
    border-radius: 0;
}

#login .nav li a {
    line-height: 35px;
    font-weight: bold;
    color: black;

    text-align: center;
    text-decoration: none;
    display: inline;
    margin-left: 14px;
    margin-right: 9px;
    font-size: 12px;
}

#login .nav li {
    display: inline-block;
    float: none;
    border-top: 1px solid #c2c2c5;
    border-bottom: 1px solid #c2c2c5;
}

#login .nav li:last-child {
    border-right: 1px solid #c2c2c5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 0px;
}

#login .nav li:first-child {
    border-left: 1px solid #c2c2c5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 0px;
    margin-right: 0px;
}

#login form button {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: none;
    opacity: .65;
    cursor: not-allowed;
    background-color: #3b3b47;
    padding: 6px 15.5px;
}

#login form input {
    font-size: 12px;
    font-weight: 500;
    width: 180px;
    height: 37px;
    margin-right: 4px;
}

#login form {
    position: relative;
}

#menu {
    background: #f2f2f3;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 12px;
    line-height: 55px;
    letter-spacing: .3px;
}

#menu .navbar-nav {
    display: inline;
    margin-left: 15px;
}

#menu .navbar-nav li {
    display: inline;
    padding-right: 20px;
    cursor: pointer;
}

.box {
    width: 778px;
    height: 5px;
}

.dropdown {
    position: static;
}

.dropdown-menu {
    padding: 0;
    margin: 4px;
    width: 650px;
    position: absolute;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.cmenu .dropdown .dropdown-menu .box .menu-table {
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.cmenu .dropdown .dropdown-menu .box .menu-table table td h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #909097;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.cmenu .dropdown .dropdown-menu .box .menu-table table td {
    padding: 0 10px;
    vertical-align: top;
}

.cmenu .dropdown .dropdown-menu .box .menu-table table td li {
    padding-bottom: 10px;
}

.cmenu .dropdown .dropdown-menu .box .menu-table table td li a {
    text-transform: none;
    text-decoration: none;
    color: black;
    display: block;
}

.container .mid {
    padding-left: 100px;
}

.container .podcast {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 5px;
    padding-left: 40px;
    white-space: nowrap;
    position: relative;
    line-height: 25px;
}

.container .podcast a {
    display: block;
    margin-bottom: 5px;
}

.container .podcast:before {
    content: "";
    background-image: url("assets/play-video.svg");
    height: 24px;
    width: 24px;
    position: absolute;
    background-size: cover;
    left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a.readextra {
    text-decoration: none;
}

a.readextra:hover {
    text-decoration: none;
    color: #909097;
}

.spacer {
    margin-top: 80px;
}

.footer {
    background-color: #f8f8f8;
    font-size: 14px;
    padding-left: 165px;
}

.footer .example .rowy {
    margin-left: -35px;
}

.footer .example li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.footer h3 {
    color: #909097;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 50px;
}

.footer .social {
    margin-right: 20px;
    display: flex;
}

.footer .social2 {
    margin-left: 17px;
    margin-right: 20px;
}

.footer .app {
    position: absolute;
    left: 65%;
}

.footer .copyright p {
    margin-top: 40px;
    font-size: 11px;
    line-height: 18px;
    color: #a4a7ac;
    padding-bottom: 27px
}

.footer .copyright a {
    margin-top: 40px;
    font-size: 11px;
    line-height: 18px;
    text-decoration: underline;
    color: #a4a7ac;
}

.owl-carousel .banner {
    position: absolute;
    top: 35%;
    left: 25%;
    text-decoration: none;
    color: black;
}

.owl-carousel .banner h1 {
    position: relative;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
}

.owl-carousel .item .banner2 a {
    position: absolute;
    top: 60%;
    left: 25%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.owl-carousel .banner3 {
    position: absolute;
    top: 29%;
    left: 44%;
    color: white;
    text-decoration: none;
}

.owl-carousel .banner3 .bannerg {
    position: relative;
    top: 10;
    left: -140px;
    color: #a7d6cb;
}

.owl-carousel .banner3 .bannerp {
    position: relative;
    top: 0px;
    left: 30px;
    color: #facab2;
}

.owl-carousel .banner3 h2 {
    position: relative;
    font-size: 70px;
    font-weight: 700;
    line-height: 62px;
}